In [1]:
# Importing Libraries
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt  
from matplotlib.colors import LinearSegmentedColormap
from IPython.display import HTML

In [2]:
# Dictionary of file paths with descriptive names
file_paths_b1 = {
    'b1_ks0': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ks0.dta',
    'b1_ks1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ks1.dta',
    'b1_ks2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ks2.dta',
    'b1_ks3': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ks3.dta',
    'b1_ks4': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ks4.dta',
    'b1_ksr1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ksr1.dta',
    'b1_ksr2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ksr2.dta',
    'b1_ksr3': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ksr3.dta',
    'b1_ksr4': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b1_dta\b1_ksr4.dta'
}

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
df_b1_ks1 = pd.read_stata(file_paths_b1['b1_ks1'])
df_b1_ks1 = df_b1_ks1[['hhid07','ks02','ks03']]
df_b1_ks1

         hhid07      ks02    ks03
0       0012200  160000.0     0.0
1       0012200       0.0  5000.0
2       0012200   15000.0     0.0
3       0012200       0.0     0.0
4       0012200       0.0     0.0
...         ...       ...     ...
480144  3213000       0.0     0.0
480145  3213000       0.0     0.0
480146  3213000       0.0     0.0
480147  3213000       0.0     0.0
480148  3213000       0.0     0.0

[480149 rows x 3 columns]

In [5]:
df_b1_ks2 = pd.read_stata(file_paths_b1['b1_ks2'])
df_b1_ks2 =  df_b1_ks2[['hhid07', 'ks06']]
df_b1_ks2

         hhid07     ks06
0       0012200      0.0
1       0012200      0.0
2       0012200  40000.0
3       0012200  25000.0
4       0012200  35000.0
...         ...      ...
155719  3213000      0.0
155720  3213000  20000.0
155721  3213000      0.0
155722  3213000  10000.0
155723  3213000      0.0

[155724 rows x 2 columns]

In [6]:
df_b1_ks3 = pd.read_stata(file_paths_b1['b1_ks3'])
df_b1_ks3 =  df_b1_ks3[['hhid07', 'ks08', 'ks09a']]
df_b1_ks3

        hhid07       ks08  ks09a
0      0012200  1000000.0    0.0
1      0012200    75000.0    0.0
2      0012200   500000.0    0.0
3      0012200   200000.0    0.0
4      0012200        0.0    NaN
...        ...        ...    ...
90834  3213000    56000.0    0.0
90835  3213000   800000.0    0.0
90836  3213000   310000.0    NaN
90837  3213000        0.0    0.0
90838  3213000        0.0    NaN

[90839 rows x 3 columns]

In [7]:
# Merge the DataFrames using an inner join on 'hhid07'
merged_07 = df_b1_ks1.merge(df_b1_ks2, on='hhid07', suffixes=('_ks1', '_ks2'))
merged_07 = merged_07.merge(df_b1_ks3, on='hhid07', suffixes=('', '_ks3'))
merged_07

           hhid07      ks02  ks03  ks06       ks08  ks09a
0         0012200  160000.0   0.0   0.0  1000000.0    0.0
1         0012200  160000.0   0.0   0.0    75000.0    0.0
2         0012200  160000.0   0.0   0.0   500000.0    0.0
3         0012200  160000.0   0.0   0.0   200000.0    0.0
4         0012200  160000.0   0.0   0.0        0.0    NaN
...           ...       ...   ...   ...        ...    ...
40332511  3213000       0.0   0.0   0.0    56000.0    0.0
40332512  3213000       0.0   0.0   0.0   800000.0    0.0
40332513  3213000       0.0   0.0   0.0   310000.0    NaN
40332514  3213000       0.0   0.0   0.0        0.0    0.0
40332515  3213000       0.0   0.0   0.0        0.0    NaN

[40332516 rows x 6 columns]

In [10]:
# Dictionary of file paths with descriptive names
file_paths_b2 = {
    'b2_bh': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_bh.dta',
    'b2_cov': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_cov.dta',
    'b2_hi': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_hi.dta',
    'b2_hr1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_hr1.dta',
    'b2_hr2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_hr2.dta',
    'b2_kr': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_kr.dta',
    'b2_nd1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_nd1.dta',
    'b2_nd2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_nd2.dta',
    'b2_nt1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_nt1.dta',
    'b2_nt2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_nt2.dta',
    'b2_ut1': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_ut1.dta',
    'b2_ut2': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_ut2.dta',
    'b2_ut3': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_ut3.dta',
    'b2_ut4': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_ut4.dta',
    'b2_vu': r'C:\Users\adinr\Documents\IFLS_Land_Reform\Data\Raw Files\hh07_b2_dta\b2_vu.dta'
}

In [16]:
df_b2_ut1 = pd.read_stata(file_paths_b2['b2_ut1'])
df_b2_ut1 = df_b2_ut1[['hhid07','ut00a','ut00b','ut01b','ut00e']]
df_b2_ut1

,ut00a,ut00bx,ut00bh,ut00c,ut00dx,ut00dh,ut00e,ut00fx,ut00fm,ut00fy,ut00gx,ut00gh,ut00hx,ut00hh,ut01,ut01ax,ut01ah,ut01bx,ut01bh,ut01ex,ut01eh,ut01fx,ut01fh,ut05ax,ut05a,ut07ax,ut07a,ut07bx,ut07b,ut07c,ut07xa,ut07xb,ut07x,ut07p1,ut07p2,ut08x,ut08p1,ut08p2,ut09x,ut09p1,ut09p2,ut09q,hhid07,ut00bm,ut00dm,ut00gm,ut00hm,ut01am,ut01bm,ut01em,ut01fm,ut07,ut08,ut09,version,module
0,1.0,1.0,2.0,2.0,1.0,1.0,6.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,1.0,2.0,1.0,0.0,1.0,2.0,1.0,0.0,6.0,NaN,1.0,95.0,1.0,15.0,IJ,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,0012200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10500000.0,1200000.0,NaN,1.0,B2_UT1
1,1.0,1.0,0.5,2.0,1.0,0.3,2.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,1.0,0.5,1.0,0.0,1.0,0.5,6.0,NaN,6.0,NaN,1.0,15.0,1.0,19.0,JQV,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,0012241,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4100000.0,0.0,NaN,1.0,B2_UT1
2,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0012242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,B2_UT1
3,1.0,1.0,1.5,3.0,1.0,0.7,6.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,1.0,1.5,1.0,0.0,1.0,0.0,1.0,0.0,6.0,NaN,1.0,15.0,1.0,95.0,S,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,0012500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8320000.0,0.0,NaN,1.0,B2_UT1
4,1.0,1.0,5.0,4.0,1.0,2.0,6.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,1.0,5.0,1.0,0.0,1.0,5.0,6.0,NaN,6.0,NaN,1.0,15.0,1.0,95.0,W,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,0012900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4500000.0,0.0,NaN,1.0,B2_UT1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12982,1.0,2.0,NaN,1.0,2.0,NaN,6.0,NaN,NaN,NaN,2.0,NaN,2.0,NaN,1.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0,1.0,1.0,90.0,1.0,96.0,W,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3212741,500.0,500.0,0.0,0.0,500.0,0.0,500.0,0.0,420000.0,190000.0,NaN,1.0,B2_UT1
12983,1.0,2.0,NaN,1.0,2.0,NaN,3.0,1.0,8.0,1998.0,6.0,NaN,6.0,NaN,1.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0,1.0,1.0,23.0,1.0,1.0,V,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,3212800,6200.0,6200.0,NaN,NaN,6200.0,0.0,6200.0,0.0,2500000.0,500000.0,NaN,1.0,B2_UT1
12984,1.0,1.0,0.1,1.0,1.0,0.1,5.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,1.0,0.7,1.0,0.6,1.0,0.1,1.0,0.0,1.0,2.0,1.0,90.0,1.0,96.0,W,2.0,2.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3212900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10200000.0,900000.0,NaN,1.0,B2_UT1
12985,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0,1.0,1.0,90.0,1.0,96.0,W,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3212911,NaN,NaN,NaN,NaN,5000.0,3000.0,0.0,2000.0,1800000.0,500000.0,NaN,1.0,B2_UT1
12986,1.0,2.0,NaN,1.0,2.0,NaN,6.0,NaN,NaN,NaN,6.0,NaN,6.0,NaN,1.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,1.0,1.0,1.0,90.0,1.0,96.0,W,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,3.0,3213000,1500.0,1500.0,NaN,NaN,1500.0,0.0,1500.0,0.0,3000000.0,800000.0,NaN,1.0,B2_UT1